body{
  width: 100%;
  
}

/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.update-img{
  width: 100px;
}

.section-main-banner {
  background-color: aqua;
  height: 300px;
  width: 100%;
  background-image: url('../src/assets/images/banner-1.jpg');
}


/* 404 page */
.not-found-page-div {
height: 90vh;
color: rgb(94, 94, 94);
background: rgb(243, 243, 243);
}
.not-found-page-div h1 {
  font-size: 100px;
  line-height: 100px;
  color: rgb(146, 6, 6);
  }
  .not-found-page-div h2 {
    font-size: 75px;
    text-transform: capitalize;
    }


/* dashboard banner ..................*/
  .dashboard-banner .carousel-control-prev{
    display: none;
  }
  .dashboard-banner .carousel-control-next{
    display: none;
  }

  .dashboard-banner .banner-img{
    filter: brightness(0.5);
  }
  